# Eclipse IDE
.cproject
.project
.settings/

Debug/
Release/
build/
tools/
docs/
html/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json

# Library build artifacts
*.o
*.a
*.so
*.dll
*.dylib
*.lib
*_static.o
*_shared.o
libID3.*
ID3.dll
